// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

#navbarNav  {
  a:hover {
    text-decoration: underline;
  }
  .active{
    font-weight: bold;
  }
}

.jumbotron {
  background-image: url("../img/pirate-ship.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1, p {
    color: white;
  }
  .display-4 {
    font-family: 'Pirata One', cursive;
  }
}

.container {
  h1 {
    font-family: 'Pirata One', cursive;
  }
  #byline {
    font-weight: bold;
    margin-bottom: .5px;
  }
  #source {
    font-style: italic;
    margin-top: .5px;
  }
}

.row {
  p {
    border-left: thin;
    border-color: gray;
  }
}



// Import partials here
@import "footer"
